<!doctype html>
<html>

<head>
  <title>Connexion</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script>
    window.submit = () => {
      const email = document.getElementById('email').value
      const password = document.getElementById('password').value
      fetch('https://reqres.in/api/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email, password })
      }).then(res => res.json())
        .then(data => {
          const redirect = new URLSearchParams(window.location.search).get('redirect_uri')
          window.location = `${redirect}&authorization_code=${data.token}`
        })
    }
  </script>
</head>

<body>
  <div class="container">
    <h1>Connectez-vous à votre compte</h1>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" placeholder="Mot de passe">
    </div>
    <button type="button" class="btn btn-default" onclick="submit()">Ok</button>
  </div>
</body>

</html>